<form [formGroup]="marcaForm">
    <label>Id: </label>
    <input type="text" disabled *ngIf="id" placeholder="{{id}}">

    <label for="sigla">Sigla: </label>
    <input id="sigla" type="text" formControlName="sigla" required>
    <small *ngIf="sigla && sigla.invalid && (sigla.dirty || sigla.touched)" style="color: red;">
        <div *ngIf="sigla.errors?.['required']">
            Sigla é obrigatória.
        </div>
        <div *ngIf="sigla.errors?.['maxlength']">
            A sigla pode ter no máximo 5 dígitos.
        </div>
    </small>

    <label for="descricao">Descrição: </label>
    <input id="descricao" type="text" formControlName="descricao" required>
    <small *ngIf="descricao && descricao.invalid && (descricao.dirty || descricao.touched)" style="color: red;">
        <div *ngIf="descricao.errors?.['required']">
            Descrição é obrigatória.
        </div>
        <div *ngIf="descricao.errors?.['maxlength']">
            Descrição pode ter no máximo 20 dígitos.
        </div>
    </small>

    <button type="submit" (click)="save()" [disabled]="!marcaForm.valid">Atualizar</button>
    <button type="button" (click)="goBack()">Voltar</button>
</form>