<form [formGroup]="veiculoForm" (ngSubmit)="save()">
    <label>Id: </label>
    <input type="text" disabled *ngIf="id" placeholder="{{id}}">

    <label for="placa">Placa: </label>
    <input id="placa" type="text" formControlName="placa" required>
    <small *ngIf="placa && placa.invalid && (placa.dirty || placa.touched)" style="color: red;">
        <div *ngIf="placa.errors?.['required']">
            A placa é obrigatória.
        </div>
        <div *ngIf="placa.errors?.['maxlength']">
            A placa pode ter no máximo 8 dígitos.
        </div>
    </small>

    <label for="cor">Cor: </label>
    <input id="cor" type="text" formControlName="cor" required>
    <small *ngIf="cor && cor.invalid && (cor.dirty || cor.touched)" style="color: red;">
        <div *ngIf="cor.errors?.['required']">
            A cor é obrigatória.
        </div>
        <div *ngIf="cor.errors?.['maxlength']">
            A cor pode ter no máximo 20 dígitos.
        </div>
    </small>

    <label for="anoModelo">Ano Modelo: </label>
    <input id="anoModelo" type="text" formControlName="anoModelo" required>
    <small *ngIf="anoModelo && anoModelo.invalid && (anoModelo.dirty || anoModelo.touched)" style="color: red;">
        <div *ngIf="anoModelo.errors?.['required']">
            Ano do modelo é obrigatório.
        </div>
        <div *ngIf="anoModelo.errors?.['pattern']">
            O ano deve ser um número.
        </div>
    </small>

    <label for="anoFabricacao">Ano Fabricação: </label>
    <input id="anoFabricacao" type="text" formControlName="anoFabricacao" required>
    <small *ngIf="anoFabricacao && anoFabricacao.invalid && (anoFabricacao.dirty || anoFabricacao.touched)"
        style="color: red;">
        <div *ngIf="anoFabricacao.errors?.['required']">
            Ano de fabricação é obrigatório.
        </div>
        <div *ngIf="anoFabricacao.errors?.['pattern']">
            O ano deve ser um número.
        </div>
    </small>

    <label for="marca">Marca</label>
    <select formControlName="marca" required>
        <option [ngValue]="null" disabled>Escolha uma marca</option>
        <option *ngFor="let marca of marcas" [ngValue]="marca">
            {{marca.sigla}}
        </option>
    </select>

    <button type="submit" [disabled]="!veiculoForm.valid">Atualizar</button>
    <button type="button" (click)="goBack()">Voltar</button>
</form>